# Credit Card Fraud

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Global Options

In [2]:
# Set display configuration

## Data Preparation

- Start loading the dataset and perform some basic exploratory analysis

In [5]:
# Import the dataset
df = pd.read_csv('assets/data/Credit_Card_Fraud.csv')

# Explore the dataset
df.head(200)

,trans_date_trans_time,merchant,category,amt,city,state,lat,long,city_pop,job,dob,trans_num,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,"""Heller, Gutmann and Zieme""",grocery_pos,107.23,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,49.159047,-118.186462,0
1,2019-01-01 00:00:51,Lind-Buckridge,entertainment,220.11,Malad City,ID,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,43.150704,-112.154481,0
2,2019-01-01 00:07:27,Kiehn Inc,grocery_pos,96.29,Grenada,CA,41.6125,-122.5258,589,Systems analyst,1945-12-21,413636e759663f264aae1819a4d4f231,41.657520,-122.230347,0
3,2019-01-01 00:09:03,Beier-Hyatt,shopping_pos,7.77,High Rolls Mountain Park,NM,32.9396,-105.8189,899,Naval architect,1967-08-30,8a6293af5ed278dea14448ded2685fea,32.863258,-106.520205,0
4,2019-01-01 00:21:32,Bruen-Yost,misc_pos,6.85,Freedom,WY,43.0172,-111.0292,471,"""Education officer, museum""",1967-08-02,f3c43d336e92a44fc2fb67058d5949e3,43.753735,-111.454923,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2019-01-01 12:04:54,Schimmel-Olson,kids_pets,47.96,Meadville,MO,39.7795,-93.3014,964,Tourist information centre manager,1974-12-23,522e4b449157a7b1e1b25a1710bca3d4,39.206677,-93.033773,0
196,2019-01-01 12:12:40,Hilpert-Conroy,kids_pets,31.17,Luray,MO,40.4931,-91.8912,519,Town planner,1966-02-13,145f9626ba7da47ad3672379e318ad6f,40.858986,-92.209069,0
197,2019-01-01 12:13:42,Jacobi Inc,health_fitness,19.03,Littleton,CO,39.5994,-105.0044,320420,Water engineer,1975-07-31,ea09483a48b1b77a85ae0a00fa341c54,39.105052,-105.656623,0
198,2019-01-01 12:18:32,Hammes-Beatty,kids_pets,78.55,Eugene,OR,44.0385,-123.0614,191096,"""Scientist, physiological""",1964-04-06,0681c9e2a48735a47fccf0bed805d52f,44.398931,-122.136405,0
199,2019-01-01 12:27:15,"""Reichert, Rowe and Mraz""",shopping_net,8.38,Conway,WA,48.3400,-122.3456,85,"""Research officer, political party""",1984-09-01,75971e5cf0d65c6410d8d9df1eeb626a,47.841849,-122.904667,0

- Check for missing data, outliers, data types, shape, and duplicates

In [6]:
# Check for missing data
df.isnull().sum()

trans_date_trans_time    0
merchant                 0
category                 0
amt                      0
city                     0
state                    0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [7]:
# Check for outliers
df.describe()

,amt,lat,long,city_pop,merch_lat,merch_long,is_fraud
count,1333.000000,1333.000000,1333.000000,1.333000e+03,1333.000000,1333.000000,1333.000000
mean,69.162273,39.869987,-111.438044,9.601609e+04,39.861073,-111.438674,0.006002
std,125.879021,5.694163,13.698908,2.625325e+05,5.725748,13.712197,0.077266
min,1.050000,20.027100,-165.672300,4.600000e+01,19.165823,-166.288628,0.000000
25%,9.860000,36.715400,-120.664900,4.670000e+02,36.878200,-120.493701,0.000000
50%,49.740000,39.741700,-111.794100,1.517000e+03,39.636295,-111.367562,0.000000
75%,84.430000,42.277000,-101.136000,3.488200e+04,42.374139,-101.445631,0.000000
max,3178.510000,65.689900,-89.628700,1.312922e+06,66.645176,-89.015733,1.000000

In [9]:
# Check for duplicates
print('Duplicate entries: {}'.format(df.duplicated().sum()))

Duplicate entries: 0

In [12]:
# Check for data types
df.dtypes

trans_date_trans_time     object
merchant                  object
category                  object
amt                      float64
city                      object
state                     object
lat                      float64
long                     float64
city_pop                   int64
job                       object
dob                       object
trans_num                 object
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object

In [11]:
# Check for shape of the dataset
df.shape

(1333, 15)

- Information 'bout the dataset

In [13]:
# Check for information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1333 entries, 0 to 1332
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   trans_date_trans_time  1333 non-null   object
 1   merchant               1333 non-null   object
 2   category               1333 non-null   object
 3   amt                    1333 non-null   float64
 4   city                   1333 non-null   object
 5   state                  1333 non-null   object
 6   lat                    1333 non-null   float64
 7   long                   1333 non-null   float64
 8   city_pop               1333 non-null   int64
 9   job                    1333 non-null   object
 10  dob                    1333 non-null   object
 11  trans_num              1333 non-null   object
 12  merch_lat              1333 non-null   float64
 13  merch_long             1333 non-null   float64
 14  is_fraud               1333 non-null   int64
dtypes: float64(5), int64(2), object(8)
memory usage: 156.3+ KB